<div class="The-end">
    <div class="footer">
      <div class="logo">
        <a href="#" class="logo">BUSHRA.</a>
      </div>
      <div class="navbar">
        <a href="/" class="active">Home</a>
        <a href="/personality">Personality</a>
        <a href="/cities">Cities</a>
        <a href="/tourist">Tourist</a>
        <a href="/contact">Contact</a>
      </div>
      </div>
    </div>
    <div class="ce">
      <div class="contact">
        <h4>Contact</h4>
        <p>15 B Johartown</p>
        <p>bushrabinteanis@gmail.com</p>
        <div class="social-media">
          <a href="https://www.instagram.com/"
            ><img src="Images/instagram.png" alt="Instagram"
          /></a>
          <a href="https://github.com/"
            ><img src="Images/github.png" alt="Github"
          /></a>
          <a href="https://www.facebook.com/"
            ><img src="Images/facebook.png" alt="Facebook"
          /></a>
        </div>
      </div>
      <div class="maps">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3403.634591837334!2d74.2936701!3d31.4517252!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1683394838670!5m2!1sen!2s"
          width="400"
          height="300"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
