<header class="header">
      <a href="#" class="logo">BUSHRA.</a>
      <div class="navbar">
        <a href="/" class="active">Home</a>
        <a href="/personality">Personality</a>
        <a href="/cities">Cities</a>
        <a href="/tourist">Tourist</a>
        <a href="/contact">Contact</a>
      </div>
    </header>