<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cities</title>
    <link rel="stylesheet" href="/css/cities.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
   <%-include("partials/navbar.ejs")%>
        <div class="banner">
            <div class="banner-text">
                <h2>Cities</h2>
                <h3>NewYork</h3>
                <img src="Images/austraillia.jpg" alt="image" style="width: 50% ;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa.Click <a href=""> <span>here</span> </a> to read more about NewYork</p>
            </div>
        </div>
    
        <div class="banner2">
            <div class="banner2-text">
                <h3>Paris</h3>
                <img src="Images/paris.jpg" alt="image" style="width: 50% ;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa.Click <a href="https://en.wikipedia.org/wiki/Paris"><span>here</span></a> to read more about Paris</p>
            </div>
        </div>
    
        <div class="banner3">
            <div class="banner3-text">
                <h3>Australia</h3>
                <img src="Images/austraillia.jpg" alt="image" style="width: 50% ;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa.Click <a href="https://en.wikipedia.org/wiki/Australia"><span>here</span></a> to read more about Australia</p>
            </div>
        </div>


    <!-- Footer -->
   <%-include("partials/footer.ejs")%>
</body>

</html>