<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>
    <%-include("partials/navbar.ejs")%>

    <!-- HOME -->

    <div class="banner">
      <div class="banner-text">
        <h1>Hi! BUSHRA ANIS IS HERE</h1>
        <h2>I AM WEB DEVELPOER</h2>
      </div>
    </div>
    <!-- Hobbies -->
    <div class="Hobbies">
      <div class="heading">
        <h3>Hobbies</h3>
      </div>
    </div>
    <!-- three Section -->

    <div class="three-section">
      <div class="three-center clearfix">
        <div class="sec1">
          <img src="Images/cooking.png" class="img" alt="" />
          <div class="bottom1 clearfix">
            <div class="left1">
              <h3>COOKING</h3>
            </div>
          </div>
        </div>

        <div class="sec2">
          <img src="Images/game-console (1).png" class="img" alt="" />
          <div class="bottom1 clearfix">
            <div class="left1">
              <h3>PLAYING GAMES</h3>
            </div>
          </div>
        </div>

        <div class="sec3">
          <img src="Images/read.png" class="img" alt="" />
          <div class="bottom1 clearfix">
            <div class="left1">
              <h3>BOOK READING</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SKILLS -->
    <div class="Skills">
      <div class="heading">
        <h3>Experties</h3>
      </div>
    </div>
    <!-- three Section -->

    <div class="skills-section">
      <div class="skills-center clearfix">
        <div class="skills1">
          <img src="Images/read.png" class="img" alt="" />
          <div class="bottom1 clearfix">
            <div class="skill-left1">
              <h3>READING</h3>
            </div>
          </div>
        </div>

        <div class="skills2">
          <img src="Images/writing (1).png" class="img" alt="" />
          <div class="bottom1 clearfix">
            <div class="skill-left1">
              <h3>Writing</h3>
            </div>
          </div>
        </div>

        <div class="skills3">
          <img src="Images/punctuality (1).png" class="img" alt="" />
          <div class="bottom1 clearfix">
            <div class="skill-left1">
              <h3>Puntuality</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <%-include("partials/footer.ejs")%>
  </body>
</html>
