<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>personalities</title>
    <link rel="stylesheet" href="/css/personalities.css">
</head>
<body>
    <%-include("partials/navbar.ejs")%>
    
    <div class="personalities">
        <div class="banner">
            <div class="banner-text">
                <h2>Political Leader</h2>
                 <img src="Images/Allama Iqbal.jpg" alt="image" style="width: 50%;">
                 <h3>ALLAMA MUHAMMAD IQBAL</h3>
                <P>Allama Muhammad Iqbal was a south Asian Muslim writer,philosopher,scholar and politician,<br>whose poetry considered among the greatest of the twentieth century.</P>
            </div>
        </div>
    
        <div class="banner2">
            <div class="banner2-text">
                <h2>Showbiz Personality</h2>
                <img src="Images/showbiz.jpeg" alt="image" style="width: 50%;">
                <h3>Willard Carroll Smith</h3>
                <P>Willard Carroll Smith II is an American actor and rapper.He has received multiple accolades,<br> including an Academy Award, a British Academy Film Award and four Grammy Awards.</P>
            </div>
        </div>
    
        <div class="banner3">
            <div class="banner3-text">
                <h2>Sports Personality</h2>
                <img src="Images/shaheen  afridi.jpg" alt="image" style="width: 50%;">
                <h3>Shaheen Shah Afridi</h3>
                <P>Shaheen Shah Afridi is a Pakistani professional cricketer. He plays as a fast bowler for<br> the Pakistan national cricket team</P>
            </div>
        </div>
    </div>

<!-- Footer -->

<%-include("partials/footer.ejs")%>
</body>
</html>